<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tentang Saya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label>Answer: {{ angka }}</ion-label><br><br>
  <ion-label>Tebak Angka</ion-label>
  <ion-input placeholder="Enter Number" [(ngModel)]="tebak"></ion-input>
  <ion-button (click)="cekAngka()">Tebak</ion-button>

  <ng-template *ngIf="jawaban; then benar; else salah;"></ng-template>
  <ng-template #benar>
    <ion-img src="../assets/golden_cheerful.png" style="width: 100px; height: 100px;"></ion-img>
  </ng-template>
  <ng-template #salah></ng-template>

</ion-content>